body{
    background-color: rgb(11, 11, 81);
    color: white;
}
h2{
    color: green;
}
a{
    color: red;
}
.header{
    text-align: center;
}
.footer{
    background-color: rgb(5, 5, 34);
    text-align: center;
}